<nz-card 
    [nzActions]="[actionEdit, actionDelete]" 
    [nzTitle]="note.title" 
    [nzHoverable]="true">
    <p nz-paragraph class="card-content">{{note.text}}</p>
</nz-card>

<ng-template #actionEdit>
    <i 
        nz-icon
        nzType="edit"
        nz-tooltip
        nzTooltipTitle="Редактировать"
        (click)="onEdit()">
    </i>
</ng-template>
<ng-template #actionDelete>
    <i 
        nz-icon
        nzType="delete"
        nz-tooltip
        nzTooltipTitle="Удалить"
        (click)="onDelete()">
    </i>
</ng-template>