<nz-layout class="layout-container">
    <nz-header>
        <span class="title-wrapper">{{title}}</span>
    </nz-header>
    <nz-content>
        <ng-container *ngIf="!notes || !notes.length">
            <nz-empty nzNotFoundContent="Нет заметок">
            </nz-empty>
        </ng-container>
        <ng-container *ngIf="notes && notes.length">
            <ng-container *ngFor="let note of notes">
                <gql-note-card [note]="note" (edit)="onEdit($event)" (delete)="onDelete($event)">
                </gql-note-card>
            </ng-container>
        </ng-container>
    </nz-content>
</nz-layout>
<div class="create-note-container">
    <button nz-button nzType="primary" nzShape="circle" [nzSize]="'large'" (click)="onCreate()">
        <i nz-icon nzType="plus"></i>
    </button>
</div>