<form nz-form [formGroup]="noteFormGroup">
    <nz-form-item>
        <nz-form-label [nzNoColon]="true">Заголовок</nz-form-label>
        <nz-form-control>
            <input formControlName="title" nz-input />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzNoColon]="true">Текст</nz-form-label>
        <nz-form-control>
            <textarea 
                formControlName="text"
                nz-input
                rows="5">
            </textarea>
        </nz-form-control>
    </nz-form-item>
</form>